<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".ImageInjectionReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.simprints.automation.INJECT_FRAME" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
