<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".activity.StubActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

            <!-- TODO reroute this to ODK intent handling -->
            <intent-filter>
                <action android:name="com.simprints.simodkadapter.REGISTER" />
                <action android:name="com.simprints.simodkadapter.IDENTIFY" />
                <action android:name="com.simprints.simodkadapter.UPDATE" />
                <action android:name="com.simprints.simodkadapter.VERIFY" />
                <action android:name="com.simprints.simodkadapter.CONFIRM_IDENTITY" />
                <action android:name="com.simprints.simodkadapter.REGISTER_LAST_BIOMETRICS" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.simprints.simodkadapter.REGISTER" />
                <action android:name="com.simprints.simodkadapter.IDENTIFY" />
                <action android:name="com.simprints.simodkadapter.UPDATE" />
                <action android:name="com.simprints.simodkadapter.VERIFY" />
                <action android:name="com.simprints.simodkadapter.CONFIRM_IDENTITY" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <data android:mimeType="*/*" />
            </intent-filter>

            <!-- TODO reroute this to LibSimprints intent handling -->
            <intent-filter>
                <action android:name="com.simprints.id.REGISTER" />
                <action android:name="com.simprints.id.IDENTIFY" />
                <action android:name="com.simprints.id.VERIFY" />
                <action android:name="com.simprints.id.CONFIRM_IDENTITY" />
                <action android:name="com.simprints.id.REGISTER_LAST_BIOMETRICS" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.simprints.id.REGISTER" />
                <action android:name="com.simprints.id.IDENTIFY" />
                <action android:name="com.simprints.id.UPDATE" />
                <action android:name="com.simprints.id.VERIFY" />
                <action android:name="com.simprints.id.CONFIRM_IDENTITY" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <data android:mimeType="*/*" />
            </intent-filter>

            <!-- TODO reroute this to CommCare intent handling -->
            <intent-filter>
                <action android:name="com.simprints.commcare.REGISTER" />
                <action android:name="com.simprints.commcare.IDENTIFY" />
                <action android:name="com.simprints.commcare.UPDATE" />
                <action android:name="com.simprints.commcare.VERIFY" />
                <action android:name="com.simprints.commcare.CONFIRM_IDENTITY" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.simprints.commcare.REGISTER" />
                <action android:name="com.simprints.commcare.IDENTIFY" />
                <action android:name="com.simprints.commcare.UPDATE" />
                <action android:name="com.simprints.commcare.VERIFY" />
                <action android:name="com.simprints.commcare.CONFIRM_IDENTITY" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

    </application>

</manifest>
