[submodule "libsimprints"]
	path = libsimprints
	url = https://github.com/Simprints/LibSimprints
[submodule "libmatcher/src/main/jni/SimMatcher"]
	path = libmatcher/src/main/jni/SimMatcher
	url = https://github.com/Simprints/SimMatcher
