<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="31" />

    <application
        android:theme="@style/Theme.Simprints"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.orchestrator.OrchestratorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.collect.CollectFingerprintsActivity"
            android:label="Collect Fingerprints"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.collect.tryagainsplash.SplashScreenActivity"
            android:theme="@style/Theme.Simprints.Transparent" />

        <activity android:name="com.simprints.fingerprint.capture.screen.FingerprintCaptureWrapperActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.simprints.fingerprint.activities.collect.CollectFingerprintsActivity" />
    </application>

</manifest>
