<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simprints.testtools">

    <application>
        <activity
            android:name=".hilt.HiltTestActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
    </application>
</manifest>
