<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simprints.clientapi">

    <application>

        <activity
            android:name=".activities.odk.OdkActivity"
            android:theme="@style/ClientApiTheme.Launcher">
            <intent-filter>
                <action android:name="com.simprints.simodkadapter.REGISTER" />
                <action android:name="com.simprints.simodkadapter.IDENTIFY" />
                <action android:name="com.simprints.simodkadapter.UPDATE" />
                <action android:name="com.simprints.simodkadapter.VERIFY" />
                <action android:name="com.simprints.simodkadapter.CONFIRM_IDENTITY" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.simprints.simodkadapter.REGISTER" />
                <action android:name="com.simprints.simodkadapter.IDENTIFY" />
                <action android:name="com.simprints.simodkadapter.UPDATE" />
                <action android:name="com.simprints.simodkadapter.VERIFY" />
                <action android:name="com.simprints.simodkadapter.CONFIRM_IDENTITY" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.errors.ErrorActivity"
            android:label="@string/title_activity_project_id_error"
            android:theme="@style/ClientApiTheme.NoActionBar" />

    </application>

</manifest>
