<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simprints.face">

    <dist:module
        dist:title="@string/module_feature_face">
        <dist:fusing dist:include="true" />
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
    </dist:module>

    <application
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".orchestrator.FaceOrchestratorActivity" />

        <activity
            android:name=".capture.FaceCaptureActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity android:name=".match.FaceMatchActivity" />
    </application>

</manifest>
