<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simprints.face">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/title_face">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.simprints.face.activities.FaceCaptureActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name="com.simprints.face.orchestrator.FaceOrchestratorActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
    </application>

</manifest>

