# this job downloads all testing reports then does a sonarqube scan
name: "[Reusable] SonarQube Scan"

on:
    workflow_call:

jobs:
    sonarQube:
        runs-on: ubuntu-latest
        timeout-minutes: ${{ fromJSON(vars.JOB_TIMEOUT_MINUTES) }}

        env:
            GOOGLE_SERVICES_FILE: ${{ secrets.GOOGLE_SERVICES_FILE}}

        steps:
            -   name: Checkout
                uses: actions/checkout@v6
                with:
                    fetch-depth: 0 # do full git history checkout as this info needed for the sonar plugin

            -   name: Set up JDK 17
                uses: actions/setup-java@v5
                with:
                    java-version: 17
                    distribution: 'temurin'

            -   name: Restore gradle global directory
                uses: actions/cache/restore@v5
                id: cache
                with:
                    path: |
                        ~/.gradle/
                        .gradle/
                    key: global-gradle-
                    restore-keys: global-gradle-

            -   name: Set up build files
                uses: ./.github/actions/setup-gradle-build-files
                with:
                    gh-package-name: ${{ secrets.GH_PACKAGE_NAME }}
                    gh-package-token: ${{ secrets.GH_PACKAGE_TOKEN }}
                    google-services-file: ${{ secrets.GOOGLE_SERVICES_FILE }}

            -   name: download all artifacts
                uses: actions/download-artifact@v7
                with:
                    path: test-reports
                    merge-multiple: true

            # Move all reports to the root directory
            -   name: Collect test reports (skip missing)
                shell: bash
                run: |
                    set -euo pipefail
                    shopt -s nullglob

                    echo "Copying artefact contents to workspace root"
                    rsync -arv test-reports/* . || true

            -   name: run sonar
                env:
                    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                run: |
                    # Check if the event is a pull request
                    if [ "${{ github.event_name }}" == "pull_request" ]; then
                        # Run SonarQube scan without branch name param as sonarqube will detect PR branch
                        ./gradlew sonar -Dsonar.qualitygate.wait=true -Dsonar.qualitygate.timeout=3600 --info
                    else
                        # Run SonarQube scan with branch name param
                        ./gradlew sonar -Dsonar.qualitygate.wait=true -Dsonar.qualitygate.timeout=3600 -Dsonar.branch.name=${{ github.ref_name }} --info
                    fi
